@import url(/variables.css);

/*=======ETIQUETAS GENERALES=======*/
html{
    height: 100%;
    width: 100%;
    
}
body{
    background-color: var(--black-GRID-color);
    display: grid;
    grid-template-rows: 150px 40px auto 200px;
    color: var(--white-GRID-color);
}
/*================================*/

/**/
.header{
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.header > div{
    border: 2px solid white;
    justify-content: center;
    align-content: center;
    width: fit-content;
    height: fit-content;
    font-size: 30px;
    position: relative;
    
}