@import url("/variables.css");

/*=======ETIQUETAS GENERALES=======*/
html{
    height: 100%;
    width: 100%;
    
}
body{
    background-color: var(--black-GRID-color);
    font-family: 'Special Elite', monospace; /* O la fuente que elijas */
  white-space: pre;                       /* Evita que el navegador colapse los espacios */
  line-height: 1.1;
    
}
/*==================================*/
/*======ETIQUETAS PRINCIPALES======*/
main{
    display: grid;
    grid-template-rows: auto 100%;
    justify-content: center;
 
}

.ascii-title{
    grid-row: 1;
    color: var(--white-GRID-color);
    font-size: small;
    font-size: 21px;
}

.left-pattern{
    grid-row: 1;
    color: var(--white-GRID-color);
    position: fixed;
    left: 50px;


}

.right-pattern{
    grid-row: 1;
    color: var(--white-GRID-color);
    position: fixed;
    right: 50px;


}

/*====CUSTOMIZACIÓN DE FORMULARIO====*/
.user-form{
    margin-top: 30px;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    
    
}

.button-enter{
    background-color: var(--black-GRID-color);
    color: var(--white-GRID-color);
    font-weight: 900;
    
}


#user-input:focus{
    outline: var(--green-GRID-color);
    color: var(--green-GRID-color);
    font-weight: 700;
    border-color: var(--white-GRID-color)
}

label{
    font-weight: 700;
    color: var(--white-GRID-color);
    font-size: 12px;
    position: relative;
    left: 6px;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
}


.error{
  outline: none;
  color: red;
  background-color: var(--black-GRID-color);
}

/*==================================*/




